<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>Test page 02</title>
    
</head>
<body>
    This is a test
    <ul>
        <li>Option 1</li>
        <li>Option 2</li>
        <li>Option 3</li>
        <li>Option 4</li>
        <li>Option 5</li>
    </ul>
    <div id="div1" name="div1">
        <form action="/" method="get">
        <fieldset>
            <input type="text" value="" id="text01" name="text01" />
            <input type="text" value="" id="text03" name="text02" />
            <input type="text" value="" id="text04" name="text03" />
            <input type="text" value="" id="text05" name="text04" />
        </fieldset>
        </form>
    </div>
    <div id="logo">
            <a href="/">page link</a>
        <p>
            <em>subtitle</em></p>
    </div>
    <div id="sidebar">
        </div>
        <div style="clear: both">
        </div>
        <div id="footer"><p></p>
        </div>
</body>
</html>